section {
    background:$background;
    width:100%;
    min-height:100vh;
    position:relative;
    padding:7em 0;
    border-bottom:1px solid rgba($red,0.5);

    &.inverse {
        background:$foreground;
        color:rgba($background,1)
    }
    

    &#demands-2 {
        padding:0;
    }
}

p {
    padding:0;
    margin-bottom:0.5em!important;
}


.sticky {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
}

.title-top,
.title-bottom {
    position:fixed;
    color:$red;
    width:100%;
    
    z-index:1;
    text-align:center;
    letter-spacing: 0.05em;;
}


.title-top {
    top:1em;
}

.title-bottom {
    bottom:1em;
}

#lang {

    width:80px;height:30px;
    cursor: pointer;
    position:fixed;
    z-index:12;
    bottom:2em;
    right:2em;
    transform-origin: 50% 50%;
    transition:all $transition-time;

    & div {
        display:inline-block;
        border-radius:2px;
        transition:all $transition-time;
        padding:0.2em 0.3em 0;
        color:$red;
        font-family:aaha-web;

        &:hover,
        &.active {
            color:rgba($background,0.9);
            background:$red;
        }
    }

    //     &:hover .rect {
    //         width:40px;
    //         left:0;
    //         background:$foreground;
    //     }   
    

    // & .rect {
    //     background:$red;    
    //     height:10px;
    //     position:absolute;
    //     transition:all $transition-time;

        
    // }


}

#mb-2-c {

    & .rect1 {
        width:30px;
        top:0;
        left:5px;
    }

    & .rect2 {
        
        width:20px;
        top:20px;
        left:10px;
    }

    & .rect3 {
        width:40px;
        top:40px;
        left:0;
    }
}


#mb-2-l {

    & .rect1 {
        width:30px;
        top:0;
        left:0;
    }

    & .rect2 {
        
        width:20px;
        top:20px;
        left:0;
    }

    & .rect3 {
        width:40px;
        top:40px;
        left:0;
    }
}


#menu-button {
    width:30px;height:30px;
    cursor: pointer;
    position:fixed;
    z-index:12;
    top:2em;
    left:2em;
    transform-origin: 50% 50%;


    & .menu-button-square {
        background:$red;
        width:10px;
        height:10px;
        position:absolute;
        transform-origin: 50% 50%;
        transition:all $transition-time;
        
        &.top-left {
            top:0; left:0
        }

        &.top-right {
            top:0; right:0;
        }

        &.bottom-left {
            bottom:0; left:0
        }

        &.bottom-right {
            bottom:0; right:0
        }
    }
  
  &.active  .menu-button-square,
    &:hover  .menu-button-square{

    transform:rotate(45deg);
   
}

&.active .menu-button-square {
        
    background:$foreground;
  }
}

#menu {
    position:fixed;
    z-index:10;
    background:rgba($background,0.9);
    top:0;
    left:0;
    visibility:hidden;
    opacity:0;
    transition:opacity $transition-time;
    padding:0;
    &.active {
        visibility:visible;
        opacity:1;
    }

    & ul {
        list-style-type:none;
        margin-top:2.5em;
        margin-left:4em;
        & li {
            font-family: 'AAHA-WEB';
            color:$red;
            font-size:15vh;
            line-height:0.8;
            cursor:pointer;
            transition:color $transition-time;

            &:hover {
                color:$foreground;
            }
            
        }
    }
}

#bottom_fist {
    fill: $red;
}

@media (max-width:800px) {
    h1 {
        padding-top:8rem;
        padding-left:3rem;
    }

    .title-top,
    .title-bottom {
        position:static;
        display:inline;
    }

    .manifesto {
        font-size:2em;
        text-align: left;
        position:static;
        
        
        transform:translateY(0);

        & br {
            display:none;
        }

        & h2 {
            display:block;
        }
    }

section {
    padding:1rem;
}
}