section {
    background:$background;
    width:100%;
    min-height:100vh;
    position:relative;
    padding:7em 0;

    &.inverse {
        background:$foreground;
        color:rgba($background,1)
    }
    


}

.title-top,
.title-bottom {
    position:fixed;
    color:$red;
    width:100%;
    
    z-index:1;
    text-align:center;
    letter-spacing: 0.05em;;
}


.title-top {
    top:1em;
}

.title-bottom {
    bottom:1em;
}


#menu-button {
    width:30px;height:30px;
    cursor: pointer;
    position:fixed;
    z-index:12;
    top:2em;
    left:2em;
    transform-origin: 50% 50%;


    & .menu-button-square {
        background:$red;
        width:10px;
        height:10px;
        position:absolute;
        transform-origin: 50% 50%;
        transition:all $transition-time;
        
        &.top-left {
            top:0; left:0
        }

        &.top-right {
            top:0; right:0;
        }

        &.bottom-left {
            bottom:0; left:0
        }

        &.bottom-right {
            bottom:0; right:0
        }
    }
  
  &.active  .menu-button-square,
    &:hover  .menu-button-square{

    transform:rotate(45deg);
   
}

&.active .menu-button-square {
        
    background:$foreground;
  }
}

#menu {
    position:fixed;
    z-index:10;
    background:rgba($background,0.9);
    top:0;
    left:0;
    visibility:hidden;
    opacity:0;
    transition:opacity $transition-time;
    padding:0;
    &.active {
        visibility:visible;
        opacity:1;
    }

    & ul {
        list-style-type:none;
        margin-top:2.5em;
        margin-left:4em;
        & li {
            font-family: 'AAHA-WEB';
            color:$red;
            font-size:15vh;
            line-height:0.8;
            cursor:pointer;
            transition:color $transition-time;

            &:hover {
                color:$foreground;
            }
            
        }
    }
}