@font-face {
    font-family: 'AAHA-WEB';
    src: url('../css/fonts/AAHA-Regular.woff') format('woff');
    font-weight:normal;
}


body {
    font-family:freight-text-pro;
    font-size:21px;
    line-height:1.4em;
}

a:link,
a:visited {
    color:$foreground;
    text-decoration:underline;
}

a:hover,
a:active {
    text-decoration:none;
}


.inverse a:link,
.inverse a:visited {
    color:$background;
    text-decoration:underline;
}

.inverse a:hover,
.inverse a:active {
    text-decoration:none;
}


.truth a:link,
.truth a:visited {
    color:$background;
}



h3 {
    font-family:'Lettera', Courier, monospace;
    font-weight:normal;
    font-size:1rem;
}

h1, h2, h3 {
    font-family: 'AAHA-WEB';
    color:$foreground;
}



h1 {
    font-size:3rem;
}

h2 {
    font-size:5.5rem;
    letter-spacing: 0.02em;
    line-height:6rem;
}


h3 {
    font-size:3rem;
    letter-spacing: 0.02em;
    line-height:6rem;
}



.caption {
font-size:0.75em;
text-align:right;
font-weight:bold;
font-style: italic;
}

.manifesto {
    font-family: 'AAHA-WEB';
    text-align:center;
    font-weight:normal;
    font-size:5vw;
    line-height:1em;
    margin:0;
    padding:0;
    position:absolute;
    width:100%;
    top:50%;
    transform:translateY(-50%);

    &:hover h2, 
    &:hover .num{
        color:rgba($foreground,0.3)
    }
    // margin-top:-50%;


    h2 {
        font-weight:normal;
        display:inline;
        font-size:inherit;
        cursor:pointer;
        transition:color $transition-time;

        &:hover {
            color:$red;

            & span.num {
                color:$red;
            }
        }
    }
    
}

/**** BEGIN ALT ****/

.manifesto-2 {
    font-family: 'AAHA-WEB';
    text-align:left;
    font-weight:normal;
    font-size:5.5vw;
    line-height:0.9em;
    margin:0;
    padding:0;
    // position:absolute;
    width:100%;
    padding:1em;

    &:hover h2, 
    &:hover .num{
        color:rgba($foreground,0.3)
    }
    // margin-top:-50%;


    h2 {
        
        margin-left:-0.4em;
        font-weight:normal;
        // display:inline;
        font-size:inherit;
        line-height:0.9;
        cursor:pointer;
        transition:color $transition-time;

        &:hover {
            color:$red;

            & span.num {
                color:$red;
            }
        }
    }
    
}


.num {
    font-size:0.66em;
    color:$red;
    display:inline-block;
    margin-right:0.33em;
    margin-top:-1.333em;
    transform:translateY(-0.5em);
    font-weight:bold;
}


label,
.label {
    font-family:aaha-web, monospace;
    text-transform:uppercase;
    display:inline;
    font-size:0.8em;
    letter-spacing:0.1em;
    
}

.label li {
    padding:0;
    margin:0;
}